shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
C:/Users/jonas/Downloads/video_face_swapper-main/video_face_swapper-main/shape_predictor_68_face_landmarks.dat filter=lfs diff=lfs merge=lfs -text
